.input {
  padding: 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(221, 208, 208);
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;

  &:focus {
    background-color: white;
  }
}

